<!-- app/components/compose-modal/template.hbs -->

<h6>Compose Chirp</h6>

{{textarea value=chirpText}}

<button class="chirp" {{action "postChirp"}} disabled={{noCharsLeft}}>Chirp</button>

<p class="remaining-chars {{if noCharsLeft 'warning'}}">{{remainingChars}}</p>
